{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - {% else %}{{ _('Welcome to Inventorpy') }}{% endif %}
{% endblock %}

{% block navbar %}

<!-- navbar-fixed-top dont work ... -->
<nav class="navbar navbar-inverse ">
 <div class="container-fluid">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="/">Inventorpy</a>
   </div>
   {% if current_user.is_authenticated %}
  <div class="collapse navbar-collapse" id="myNavbar">
   <ul class="nav navbar-nav">
     <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Service
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li class="nav-item"><a href="{{ url_for('main.service_list') }}">{{ _('List Service') }}</a></li>
           <li class="nav-item"><a href="{{ url_for('main.service_add') }}">{{ _('Add Service') }}</a></li>
         </ul>
     </li>
     <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Location
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li class="nav-item"><a href="{{ url_for('main.location_list') }}">{{ _('List Location') }}</a></li>
           <li class="nav-item"><a href="{{ url_for('main.location_add') }}">{{ _('Add Location') }}</a></li>
         </ul>
     </li>
     <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Server
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li class="nav-item"><a href="{{ url_for('main.server_list') }}">{{ _('List Server') }}</a></li>
           <li class="nav-item"><a href="{{ url_for('main.server_add') }}">{{ _('Add Server') }}</a></li>
         </ul>
     </li>
     <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Network
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li class="nav-item"><a href="{{ url_for('main.network_list') }}">{{ _('List Network') }}</a></li>
           <li class="nav-item"><a href="{{ url_for('main.network_add') }}">{{ _('Add Network') }}</a></li>
         </ul>
     </li>

     <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">HSM Domain
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li class="nav-item"><a href="{{ url_for('main.hsm_domain_list') }}">{{ _('List HSM Domain') }}</a></li>
           <li class="nav-item"><a href="{{ url_for('main.hsm_domain_add') }}">{{ _('Add HSM Domain') }}</a></li>
         </ul>
     </li>

     <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">HSM PCI Card
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li class="nav-item"><a href="{{ url_for('main.hsm_pcicard_list') }}">{{ _('List HSM PCI Card') }}</a></li>
           <li class="nav-item"><a href="{{ url_for('main.hsm_pcicard_add') }}">{{ _('Add HSM PCI Card') }}</a></li>
         </ul>
     </li>

     <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">HSM Backup Unit
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li class="nav-item"><a href="{{ url_for('main.hsm_backupunit_list') }}">{{ _('List HSM Backup Unit') }}</a></li>
           <li class="nav-item"><a href="{{ url_for('main.hsm_backupunit_add') }}">{{ _('Add HSM Backup Unit') }}</a></li>
         </ul>
     </li>

     <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">PED
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li class="nav-item"><a href="{{ url_for('main.hsm_ped_list') }}">{{ _('List Ped') }}</a></li>
           <li class="nav-item"><a href="{{ url_for('main.hsm_ped_add') }}">{{ _('Add Ped') }}</a></li>
         </ul>
     </li>

     <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">PIN
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li class="nav-item"><a href="{{ url_for('main.hsm_pin_list') }}">{{ _('List Pin') }}</a></li>
           <li class="nav-item"><a href="{{ url_for('main.hsm_pin_add') }}">{{ _('Add Pin') }}</a></li>
         </ul>
     </li>

     <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Rack
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li class="nav-item"><a href="{{ url_for('main.rack_list') }}">{{ _('List Rack') }}</a></li>
           <li class="nav-item"><a href="{{ url_for('main.rack_add') }}">{{ _('Add Rack') }}</a></li>
         </ul>
     </li>

     <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Safe
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li class="nav-item"><a href="{{ url_for('main.safe_list') }}">{{ _('List Safe') }}</a></li>
           <li class="nav-item"><a href="{{ url_for('main.safe_add') }}">{{ _('Add Safe') }}</a></li>
         </ul>
     </li>

     <li class="nav-item"><a href="{{ url_for('main.updates_list') }}">{{ _('Pending Updates') }}</a></li>
     <li class="nav-item"><a href="{{ url_for('main.logs_list') }}">{{ _('Logs') }}</a></li>
   </ul>
   {% endif %}

   <ul class="nav navbar-nav navbar-right">
       {% if current_user.is_anonymous %}
       <li class="nav-item"><a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>
       {% else %}
       <li class="nav-item"><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
       <li class="nav-item"><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
       {% endif %}
   </ul>

 </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-left:5%;margin-right:5%;margin-top:70px">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <h1> {% if title %} {{ title }} {% else %}{{ _('Welcome to Inventorpy') }}{% endif %}</h1>
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
