{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


{% if locations %}
<table class="table table-hover">
    <tr>
      <td>{{_('Inventory id')}}</td>
      <td>{{_('Place (City/Region)')}}</td>
      <td>{{_('Facillity (House)')}}</td>
      <td>{{_('Area (Room/Rack/Safe)')}}</td>
      <td>{{_('Position')}}</td>
      <td>{{_('Type of Facillity')}}</td>
      <td>{{_('long name')}}</td>
    </tr>

    {% for l in locations %}

      <tr>
        <td>  {{ l.inventory_id() }} </td>

        <td>
              <A HREF="{{url_for('main.location_edit', location=l.id)}}">
                {{ l.place }}
              </A>
        </td>
        <td>
                {{ l.facillity }}
        </td>
        <td>
                {{ l.area }}
        </td>
        <td>
                {{ l.position }}
        </td>
        <td>
                {{ l.type }}
        </td>
        <td>
                {{ l.longName() }}
        </td>

      </tr>
    {% endfor %}

    </table>

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endif %}


    {% if form %}
      {{ wtf.quick_form(form) }}
    {% endif %}
{% endblock %}
