{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

{% if networks %}
  
  {% if order == "desc" %}
    {% set order %}asc{% endset %}
  {% else %}
    {% set order %}desc{% endset %}
  {% endif %}

<table class="table table-hover">
    <tr>
      <td><A HREF="{{url_for('main.network_list', sort='id',          order=order)}}">{{_('Inventory id')}}</td>
      <td><A HREF="{{url_for('main.network_list', sort='name',        order=order)}}">{{_('Name')}}        </A></td>
      <td><A HREF="{{url_for('main.network_list', sort='network',     order=order)}}">{{_('IP Network')}}  </A></td>
      <td><A HREF="{{url_for('main.network_list', sort='netmask',     order=order)}}">{{_('IP Netmask')}}  </A></td>
      <td><A HREF="{{url_for('main.network_list', sort='gateway',     order=order)}}">{{_('IP Gateway')}}  </A></td>
      <td><A HREF="{{url_for('main.network_list', sort='vlan',        order=order)}}">{{_('VLAN')}}        </A></td>
      <td><A HREF="{{url_for('main.network_list', sort='service_id',  order=order)}}">{{_('Service')}}     </A></td>
      <td><A HREF="{{url_for('main.network_list', sort='environment', order=order)}}">{{_('Environment')}} </A></td>
    </tr>

    {% for n in networks %}

      <tr>
        <td>  {{ n.inventory_id() }} </td>

        <td>
              {{ n.name }}
              <A HREF="{{url_for('main.network_view', network=n.id)}}">
                {{ _('View') }}
              </A>
              <A HREF="{{url_for('main.network_edit', network=n.id)}}">
                {{ _('Edit') }}
              </A>
        </td>
        <td>
                {{ n.network }}
        </td>
        <td>
                {{ n.netmask }}
        </td>
        <td>
                {{ n.gateway }}
        </td>
        <td>
                {{ n.vlan }}
        </td>
        <td>
                {{ n.service.name }}
        </td>
        <td>
                {{ n.environment }}
        </td>

      </tr>
    {% endfor %}

    </table>

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endif %}
{% if networkview %}
<h1> {{_('Network')}} {{network.name}}</h1>
<table class="table table-hover">

  <tr>
    <td><A HREF="{{url_for('main.network_list', sort='name',     order=order)}}">{{_('Name')}}      </A></td>
    <td><A HREF="{{url_for('main.network_list', sort='network',  order=order)}}">{{_('IP Network')}}</A></td>
    <td><A HREF="{{url_for('main.network_list', sort='netmask',  order=order)}}">{{_('IP Netmask')}}</A></td>
    <td><A HREF="{{url_for('main.network_list', sort='gatewy',   order=order)}}">{{_('IP Gateway')}}</A></td>
    <td><A HREF="{{url_for('main.network_list', sort='location', order=order)}}">{{_('Location')}}  </A></td>
    <td><A HREF="{{url_for('main.network_list', sort='service',  order=order)}}">{{_('Service')}}   </A></td>
  </tr>
  <tr>
    <td>{{network.name}}</td>
    <td>{{network.network}}</td>
    <td>{{network.netmask}}</td>
    <td>{{network.gateway}}</td>
    <td>{{network.location.name}}</td>
    <td>{{network.service.name}}</td>
  </tr>
</table>


<table class="table table-hover">
    <tr>
      <td>{{_('Server')}}</td>
      <td>{{_('IP')}}</td>
    </tr>

    {% for sn in networkview %}

      <tr>
        <td>
          {% if sn[1].hostname %}
            {{ sn[1].hostname }}
          {% elif network.gateway == sn[0] %}
            {{ _('Gateway') }}
          {% else %}
            <A HREF="{{url_for('main.server_add', ip=sn[0])}}">
            {{ _('Add Server') }}
          </A>
          {% endif %}
        </td>
        <td>
          {{ sn[0] }}
        </td>

      </tr>
    {% endfor %}

    </table>


{% endif %}

{% if form %}
  {{ wtf.quick_form(form) }}
{% endif %}


{% endblock %}
