{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

{% if order == "desc" %}
  {% set order %}asc{% endset %}
{% else %}
  {% set order %}desc{% endset %}
{% endif %}

{% if servers %}
<table class="table table-hover">
    <tr>
      <td><A HREF="{{url_for('main.server_list', sort='id',         order=order)}}">{{_('Inventory ID')}}</A></td>
      <td><A HREF="{{url_for('main.server_list', sort='hostname',   order=order)}}">{{_('Hostname')}}    </A></td>
      <td><A HREF="{{url_for('main.server_list', sort='ipaddress',  order=order)}}">{{_('IP Address')}}  </A></td>
      <td><A HREF="{{url_for('main.server_list', sort='service_id', order=order)}}">{{_('Service')}}     </A></td>
      <td><A HREF="{{url_for('main.server_list', sort='rack_id',    order=order)}}">{{_('Rack')}}        </A></td>
      <td>{{_('Actions')}}        </A></td>
    </tr>

    {% for s in servers %}

      <tr>
        <td>
              {{ s.inventory_id() }}
        </td>
        <td>
          <A HREF="{{url_for('main.server_edit', server=s.id)}}">
            {{ s.hostname }}
          </A>
        </td>
        <td>
                {{s.ipaddress}}
        </td>
        <td>
          {% if s.service %}
              {{s.service.name}}
          {% endif %}
        </td>
        <td>
          {% if s.rack %}
                {{s.rack.name}}
          {% endif %}
        </td>
        <td>
          <A HREF="{{url_for('main.server_edit', server=s.id)}}">
            {{ _('Edit') }}
          </A> -
          <A HREF="{{url_for('main.server_copy', copy_from_server=s.id)}}">
            {{ _('Copy') }}
          </A>
          {% if s.manufacturer.lower()  == "dell" %}
            -
            <A HREF="https://www.dell.com/support/home/en-us/product-support/servicetag/{{s.serial}}">
              {{ _('Dell support') }}
            </A>
          {% endif %}
        </td>

      </tr>
    {% endfor %}

    </table>


    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endif %}


{% if virtual_servers %}
<table class="table table-hover">
    <tr>
      <td><A HREF="{{url_for('main.virtual_server_list', sort='id',             order=order)}}">{{_('Inventory ID')}}</A></td>
      <td><A HREF="{{url_for('main.virtual_server_list', sort='hostname',       order=order)}}">{{_('Hostname')}}</td>
      <td><A HREF="{{url_for('main.virtual_server_list', sort='ipaddress',      order=order)}}">{{_('IP Address')}}</td>
      <td><A HREF="{{url_for('main.virtual_server_list', sort='service_id',     order=order)}}">{{_('Service')}}</td>
      <td><A HREF="{{url_for('main.virtual_server_list', sort='hosting_server', order=order)}}">{{_('Hosting Server')}}</td>
    </tr>

    {% for vs in virtual_servers %}

      <tr>
        <td>
              {{ vs.inventory_id() }}
        </td>
        <td>
              <A HREF="{{url_for('main.virtual_server_edit', virtual_server=vs.id)}}">
                {{ vs.hostname }}
              </A>
        </td>
        <td>
                {{vs.ipaddress}}
        </td>
        <td>
          {% if vs.service %}
              {{vs.service.name}}
          {% endif %}
        </td>
        <td>
            {{vs.hosting_server.hostname}}
        </td>

      </tr>
    {% endfor %}

    </table>


    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endif %}


{% if form %}
      {{ wtf.quick_form(form) }}
{% endif %}


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  {{ _("View connected Switch Ports") }}
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{_("Connected Switch Ports for server:")}} {{server.hostname}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if switchports %}
        <table class="table table-hover">
            <tr>
              <td>{{_('Inventory id')}}</td>
              <td>{{_('Name')}}</td>
              <td>{{_('Switch')}}</td>
              <td>{{_('Network')}}</td>
            </tr>

            {% for sp in switchports %}

              <tr>
                <td>
                      {{ sp.inventory_id() }}
                </td>
                <td>
                      <A HREF="{{url_for('main.switch_port_edit', switchport=sp.id)}}">
                        {{ sp.name }}
                      </A>
                </td>
                <td>
                        {{sp.switch.name}}
                </td>
                <td>
                  {% if sp.network %}
                      {{sp.network.name}}
                  {% endif %}
                </td>

              </tr>
            {% endfor %}

          </table>



        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




{% endblock %}
