{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


{% if switchs %}
<table class="table table-hover">
    <tr>
      <td>{{_('Inventory id')}}</td>
      <td>{{_('Name')}}</td>
      <td>{{_('Alias')}}</td>
      <td>{{_('Service')}}</td>
      <td>{{_('Rack')}}</td>
      <td>{{_('Actions')}}</td>
    </tr>

    {% for s in switchs %}

      <tr>
        <td>
              {{ s.inventory_id() }}
        </td>
        <td>
                {{ s.name }}
        </td>
        <td>
                {{s.alias}}
        </td>
        <td>
          {% if s.service %}
              {{s.service.name}}
          {% endif %}
        </td>
        <td>
          {% if s.rack %}
                {{s.rack.name}}
          {% endif %}
        </td>
        <td>
          <A HREF="{{url_for('main.switch_edit', switch=s.id)}}"> {{ _('Edit') }}</A> <br/>
          <A HREF="{{url_for('main.switch_port_list', switch=s.id)}}"> {{ _('List Ports') }}</A>
        </td>

      </tr>
    {% endfor %}


    </table>


    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

    {% endif %}

    {% if switchports %}
    <table class="table table-hover">
        <tr>
          <td>{{_('Inventory id')}}</td>
          <td>{{_('Name')}}</td>
          <td>{{_('Switch')}}</td>
          <td>{{_('Server')}}</td>
        </tr>

        {% for sp in switchports %}

          <tr>
            <td>
                  {{ sp.inventory_id() }}
            </td>
            <td>
                  <A HREF="{{url_for('main.switch_port_edit', switchport=sp.id)}}">
                    {{ sp.name }}
                  </A>
            </td>
            <td>
                    {{sp.switch.name}}
            </td>
            <td>
              {% if sp.server %}
                  {{sp.server.hostname}}
              {% endif %}
            </td>

          </tr>
        {% endfor %}

      </table>


      <nav aria-label="...">
          <ul class="pager">
              <li class="previous{% if not prev_url %} disabled{% endif %}">
                  <a href="{{ prev_url or '#' }}">
                      <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
                  </a>
              </li>
              <li class="next{% if not next_url %} disabled{% endif %}">
                  <a href="{{ next_url or '#' }}">
                      {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
                  </a>
              </li>
          </ul>
      </nav>

    {% endif %}


    {% if form %}
      {{ wtf.quick_form(form) }}
    {% endif %}
{% endblock %}
